/* Home page css */

body {
  background-color: rgb(73, 0, 169) !important;
  color: #ffa600;
}

.home-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: #ffa600 1px solid;
}

.home-header button {
  /* border: none; */
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  font-weight: 700;
  background-color: #ffa600;
  color: #ff0000;
}

.home-header .home-profile-btn {
    color: #fff;
}

.home-header button:hover {
  color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 255, 255);
}

/* guest home page */

.home-guest { 
    background-color: rgb(77, 63, 63);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
 

/* Todo css */

.todoContainer {
    width: 100%;
    height: auto;
    /* border: 1px solid #fff; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.todoContainer h2 {
    color: #ffa600;
    margin: 5px 10px;
    padding: 10px;
    font-weight: 700;
    font-size: 25px;
}

.todoContainer input {
    width: 270px;
    font-size: 24px;
    border: none;
    outline: #ff0000;
    border-radius: 5px;
    padding: 5px;
}

.todoContainer button {
    margin: 20px;
    font-size: 24px;
    border: none;
    outline: #ff0000;
    border-radius: 5px;
    padding: 5px 10px;
}

.todo {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.todoList {
    background-color: transparent;
    width: 80%;
    /* height: 80vh; */
    margin: auto;
    list-style: none;
    /* overflow: auto; */
}

.todoList li {
    margin: 10px auto;
    width: 100%;
    height: 60px;
    border: 1px solid #fff;
    overflow: auto;
    line-break: auto;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    position: relative;
}

.todoList li span {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 0 5px;
    margin: 5px;
    color: #ffa600;
    font-weight: 700;
}

.todoList li .del {
    padding: 0 3px;
    font-size: 16px;
    font-weight: 500;
    background-color: #ff0000;
    color: #ffffff;
    position: absolute;
    right: 0;
}

.todoList li .del:hover {
    background-color: #ffa600;
    color: #ff0000;
}


/* Login Page */


.log-reg-form {
    width: 80%;
    height: 100%;
    /* height: auto; */
    border: 1px solid #fff;
    margin: 30vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(500px);
}

.log-reg-form h2 {
    margin: 10px;
    font-size: 30px;
    text-shadow: #ff0000 0 0 5px;
}

.log-reg-form .inputs {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    font-size: 20px;
    font-weight: 700;
    margin: auto;
    display: flex;
    justify-content: left;
}
.log-reg-form .inputs label {
    font-size: 20px;
    margin: 5px auto;
    padding: 5px;
}

.log-reg-form .inputs input {
    font-size: 20px;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #ffa600;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
}

.log-reg-form .inputs input:focus {
    border: 2px solid #fff4df;

}

.submit-p {
    display: flex;
    gap: 10px;
    align-items: center;
}

.log-reg-form .inputs .submit {
    width: 150px;
    border: none;
    background-color: #ffa600;
    font-size: 24px;
    font-weight: 600;
}

.log-reg-form .inputs p {
    font-size: 16px;
}

.log-reg-form .inputs p a {
    color: #ffa600;
}
